<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_CD_2025/blob/main/Vetorizacao_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

# Vetorização de Strings

In [12]:
df = pd.read_csv('https://github.com/Rogerio-mack/IMT_CD_2025/raw/refs/heads/main/data/movie.csv')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [13]:
df.director_name.str.upper()

0           JAMES CAMERON
1          GORE VERBINSKI
2              SAM MENDES
3       CHRISTOPHER NOLAN
4             DOUG WALKER
              ...
4911          SCOTT SMITH
4912                  NaN
4913     BENJAMIN ROBERDS
4914          DANIEL HSIA
4915             JON GUNN
Name: director_name, Length: 4916, dtype: object

In [14]:
df.director_name.str.len()

0       13.0
1       14.0
2       10.0
3       17.0
4       11.0
        ...
4911    11.0
4912     NaN
4913    16.0
4914    11.0
4915     8.0
Name: director_name, Length: 4916, dtype: float64

# Linhas com director_name LIKE %Chris%

In [15]:
df[ df.director_name.str.contains('Chris',na=False) ]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
24,Color,Chris Weitz,251.0,113.0,129.0,1000.0,Eva Green,16000.0,70083519.0,Adventure|Family|Fantasy,...,666.0,English,USA,PG-13,180000000.0,2007.0,6000.0,6.1,2.35,0
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4576,Color,Christopher Hutson,8.0,95.0,3.0,118.0,Jennifer Lee Wiggins,717.0,NaN,Horror,...,30.0,English,USA,R,750000.0,2009.0,134.0,3.1,1.85,128
4586,Color,Christopher Scott Cherot,25.0,84.0,21.0,48.0,Robinne Lee,465.0,2301777.0,Comedy,...,36.0,English,USA,R,650000.0,1997.0,170.0,6.5,NaN,161
4589,Color,Chris Atkins,21.0,103.0,2.0,442.0,Harvey Weinstein,628.0,NaN,Documentary,...,8.0,English,UK,NaN,400000.0,2009.0,474.0,7.4,NaN,203
4614,Color,Chris Kentis,235.0,79.0,9.0,7.0,Saul Stein,48.0,30500882.0,Adventure|Biography|Drama|Horror|Thriller,...,916.0,English,USA,R,500000.0,2003.0,10.0,5.7,1.85,0
4791,Color,Chris Marker,16.0,59.0,121.0,0.0,Bertrand Cantat,27.0,NaN,Documentary,...,4.0,French,France,NaN,150000.0,2004.0,0.0,7.4,1.37,44

In [16]:
df[ df.director_name.str.find('Chris') >= 0 ]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
24,Color,Chris Weitz,251.0,113.0,129.0,1000.0,Eva Green,16000.0,70083519.0,Adventure|Family|Fantasy,...,666.0,English,USA,PG-13,180000000.0,2007.0,6000.0,6.1,2.35,0
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4576,Color,Christopher Hutson,8.0,95.0,3.0,118.0,Jennifer Lee Wiggins,717.0,NaN,Horror,...,30.0,English,USA,R,750000.0,2009.0,134.0,3.1,1.85,128
4586,Color,Christopher Scott Cherot,25.0,84.0,21.0,48.0,Robinne Lee,465.0,2301777.0,Comedy,...,36.0,English,USA,R,650000.0,1997.0,170.0,6.5,NaN,161
4589,Color,Chris Atkins,21.0,103.0,2.0,442.0,Harvey Weinstein,628.0,NaN,Documentary,...,8.0,English,UK,NaN,400000.0,2009.0,474.0,7.4,NaN,203
4614,Color,Chris Kentis,235.0,79.0,9.0,7.0,Saul Stein,48.0,30500882.0,Adventure|Biography|Drama|Horror|Thriller,...,916.0,English,USA,R,500000.0,2003.0,10.0,5.7,1.85,0
4791,Color,Chris Marker,16.0,59.0,121.0,0.0,Bertrand Cantat,27.0,NaN,Documentary,...,4.0,French,France,NaN,150000.0,2004.0,0.0,7.4,1.37,44

# Criando uma coluna `director_first_name`

In [17]:
df.director_name.str.split()

0           [James, Cameron]
1          [Gore, Verbinski]
2              [Sam, Mendes]
3       [Christopher, Nolan]
4             [Doug, Walker]
                ...
4911          [Scott, Smith]
4912                     NaN
4913     [Benjamin, Roberds]
4914          [Daniel, Hsia]
4915             [Jon, Gunn]
Name: director_name, Length: 4916, dtype: object

In [18]:
df.director_name.str.split(expand=True)

                0          1     2     3
0           James    Cameron  None  None
1            Gore  Verbinski  None  None
2             Sam     Mendes  None  None
3     Christopher      Nolan  None  None
4            Doug     Walker  None  None
...           ...        ...   ...   ...
4911        Scott      Smith  None  None
4912          NaN        NaN   NaN   NaN
4913     Benjamin    Roberds  None  None
4914       Daniel       Hsia  None  None
4915          Jon       Gunn  None  None

[4916 rows x 4 columns]

In [19]:
df['director_first_name'] = df.director_name.str.split(expand=True)[0]
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,director_first_name
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,James
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Gore
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Sam
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Christopher
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,Doug

# `Apply`

In [20]:
df.duration / 60

0       2.966667
1       2.816667
2       2.466667
3       2.733333
4            NaN
          ...
4911    1.450000
4912    0.716667
4913    1.266667
4914    1.666667
4915    1.500000
Name: duration, Length: 4916, dtype: float64

In [21]:
def converte_horas(minutos):
  return minutos / 60

In [22]:
df.duration.apply(converte_horas)

0       2.966667
1       2.816667
2       2.466667
3       2.733333
4            NaN
          ...
4911    1.450000
4912    0.716667
4913    1.266667
4914    1.666667
4915    1.500000
Name: duration, Length: 4916, dtype: float64

In [23]:
df.duration.apply(lambda x: x/60)

0       2.966667
1       2.816667
2       2.466667
3       2.733333
4            NaN
          ...
4911    1.450000
4912    0.716667
4913    1.266667
4914    1.666667
4915    1.500000
Name: duration, Length: 4916, dtype: float64

## Apply over row

In [24]:
df.apply(lambda x: x.duration/60,axis=1)

0       2.966667
1       2.816667
2       2.466667
3       2.733333
4            NaN
          ...
4911    1.450000
4912    0.716667
4913    1.266667
4914    1.666667
4915    1.500000
Length: 4916, dtype: float64

In [25]:
def score_director(num_critic_for_reviews,director_facebook_likes):

  if director_facebook_likes > 0:
    return num_critic_for_reviews * director_facebook_likes
  else:
    return num_critic_for_reviews

In [26]:
df.apply(lambda row: score_director(row.num_critic_for_reviews,row.director_facebook_likes), axis=1)

0            723.0
1         170026.0
2            602.0
3       17886000.0
4              NaN
           ...
4911           2.0
4912          43.0
4913          13.0
4914          14.0
4915         688.0
Length: 4916, dtype: float64

In [27]:
def score_director(row):

  if row.director_facebook_likes > 0:
    return row.num_critic_for_reviews * row.director_facebook_likes
  else:
    return row.num_critic_for_reviews

In [28]:
df.apply(lambda row: score_director(row), axis=1)

0            723.0
1         170026.0
2            602.0
3       17886000.0
4              NaN
           ...
4911           2.0
4912          43.0
4913          13.0
4914          14.0
4915         688.0
Length: 4916, dtype: float64

In [29]:
df.apply(score_director,axis=1)

0            723.0
1         170026.0
2            602.0
3       17886000.0
4              NaN
           ...
4911           2.0
4912          43.0
4913          13.0
4914          14.0
4915         688.0
Length: 4916, dtype: float64

## Partindo de `df.director_name.str.split()` como gerar o first_name com uma função `apply`

In [30]:
df.director_name.str.split()

0           [James, Cameron]
1          [Gore, Verbinski]
2              [Sam, Mendes]
3       [Christopher, Nolan]
4             [Doug, Walker]
                ...
4911          [Scott, Smith]
4912                     NaN
4913     [Benjamin, Roberds]
4914          [Daniel, Hsia]
4915             [Jon, Gunn]
Name: director_name, Length: 4916, dtype: object

In [31]:
%%script echo skipping error
df.director_name.str.split().apply(lambda lista: lista[0])

skipping error

In [32]:
df.director_name.str.split().isnull().sum()

np.int64(102)

In [33]:
def extrai_primeiro(lista):
  if isinstance(lista,list):
    return lista[0]
  else:
    return None

In [34]:
def extrai_primeiro(lista):
  try:
    return lista[0]
  except:
    return None

In [35]:
df.director_name.str.split().apply(extrai_primeiro)

0             James
1              Gore
2               Sam
3       Christopher
4              Doug
           ...
4911          Scott
4912           None
4913       Benjamin
4914         Daniel
4915            Jon
Name: director_name, Length: 4916, dtype: object

In [36]:
df.director_name.str.split().apply(lambda lista: lista[0] if isinstance(lista, list) else None)

0             James
1              Gore
2               Sam
3       Christopher
4              Doug
           ...
4911          Scott
4912           None
4913       Benjamin
4914         Daniel
4915            Jon
Name: director_name, Length: 4916, dtype: object

# Expressões Regulares

In [39]:
df = pd.read_csv('https://github.com/Rogerio-mack/IMT_CD_2025/raw/main/data/restaurant_inspections2.csv')
df.head()

,Name,Date,Info,Value
0,E & E Grill House,2017-08-08,Borough,MANHATTAN
1,E & E Grill House,2017-08-08,Cuisine,American
2,E & E Grill House,2017-08-08,Description,Non-food contact surface improperly constructe...
3,E & E Grill House,2017-08-08,Grade,A
4,E & E Grill House,2017-08-08,Score,9.0

## Selecionar somente os registros com `date` no formato 9999-99-99

In [40]:
df['Date'].str.match("^\d{4}-\d{2}-\d{2}$")

0      True
1      True
2      True
3      True
4      True
       ...
495    True
496    True
497    True
498    True
499    True
Name: Date, Length: 500, dtype: bool

### Datas no formato 9999-99-99

In [41]:
df[ df['Date'].str.match("^\d{4}-\d{2}-\d{2}$") ]

,Name,Date,Info,Value
0,E & E Grill House,2017-08-08,Borough,MANHATTAN
1,E & E Grill House,2017-08-08,Cuisine,American
2,E & E Grill House,2017-08-08,Description,Non-food contact surface improperly constructe...
3,E & E Grill House,2017-08-08,Grade,A
4,E & E Grill House,2017-08-08,Score,9.0
...,...,...,...,...
495,PIER SIXTY ONE-THE LIGHTHOUSE,2017-09-01,Borough,MANHATTAN
496,PIER SIXTY ONE-THE LIGHTHOUSE,2017-09-01,Cuisine,American
497,PIER SIXTY ONE-THE LIGHTHOUSE,2017-09-01,Description,Filth flies or food/refuse/sewage-associated (...
498,PIER SIXTY ONE-THE LIGHTHOUSE,2017-09-01,Grade,Z
499,PIER SIXTY ONE-THE LIGHTHOUSE,2017-09-01,Score,33.0

### Datas NÃO no formato 9999-99-99

In [42]:
df[ ~ df['Date'].str.match("^\d{4}-\d{2}-\d{2}$") ]

,Name,Date,Info,Value
10,NY SWEET SPOT CAFE,2023/13/33,Borough,BROOKLYN
11,NY SWEET SPOT CAFE,2023/13/33,Cuisine,Eastern European
12,NY SWEET SPOT CAFE,2023/13/33,Description,Plumbing not properly installed or maintained;...
13,NY SWEET SPOT CAFE,2023/13/33,Grade,A
14,NY SWEET SPOT CAFE,2023/13/33,Score,7.0

### Com `import re` e `apply`

In [43]:
import re

def valida_data(data):
  regex = r"^\d{4}-\d{2}-\d{2}$"
  return re.match(regex, data) is not None

In [44]:
df['Date'].apply(valida_data)

0      True
1      True
2      True
3      True
4      True
       ...
495    True
496    True
497    True
498    True
499    True
Name: Date, Length: 500, dtype: bool

In [45]:
df[ ~ df['Date'].apply(valida_data) ]

,Name,Date,Info,Value
10,NY SWEET SPOT CAFE,2023/13/33,Borough,BROOKLYN
11,NY SWEET SPOT CAFE,2023/13/33,Cuisine,Eastern European
12,NY SWEET SPOT CAFE,2023/13/33,Description,Plumbing not properly installed or maintained;...
13,NY SWEET SPOT CAFE,2023/13/33,Grade,A
14,NY SWEET SPOT CAFE,2023/13/33,Score,7.0

## Validando datas reais, `date` YYYY-MM-DD, isto é, valores válidos

In [46]:
from datetime import datetime

In [47]:
datetime.strptime('1999-12-01','%Y-%m-%d')

datetime.datetime(1999, 12, 1, 0, 0)

In [48]:
%%script echo skipping error
datetime.strptime('1999-13-01','%Y-%m-%d')

skipping error

In [49]:
def valida_data(data):
  try:
    datetime.strptime(data,'%Y-%m-%d')
    return True
  except:
    return False

In [50]:
df[ ~ df['Date'].apply(valida_data) ]

,Name,Date,Info,Value
10,NY SWEET SPOT CAFE,2023/13/33,Borough,BROOKLYN
11,NY SWEET SPOT CAFE,2023/13/33,Cuisine,Eastern European
12,NY SWEET SPOT CAFE,2023/13/33,Description,Plumbing not properly installed or maintained;...
13,NY SWEET SPOT CAFE,2023/13/33,Grade,A
14,NY SWEET SPOT CAFE,2023/13/33,Score,7.0
22,BRANDY'S PIANO BAR,2023-13-33,Description,Non-food contact surface improperly constructe...
23,BRANDY'S PIANO BAR,2023-13-33,Grade,A
24,BRANDY'S PIANO BAR,2023-13-33,Score,9.0
220,MAY KAIDEE/DESI FOOD TRUCK,2023-13-33,Borough,MANHATTAN
221,MAY KAIDEE/DESI FOOD TRUCK,2023-13-33,Cuisine,Asian
222,MAY KAIDEE/DESI FOOD TRUCK,2023-13-33,Description,Facility not vermin proof. Harborage or condit...
223,MAY KAIDEE/DESI FOOD TRUCK,2023-13-33,Grade,A
224,MAY KAIDEE/DESI FOOD TRUCK,2023-13-33,Score,10.0
225,IL POSTINO,2023-13-33,Borough,MANHATTAN
226,IL POSTINO,2023-13-33,Cuisine,Italian
227,IL POSTINO,2023-13-33,Description,Evidence of mice or live mice present in facil...
228,IL POSTINO,2023-13-33,Grade,A
229,IL POSTINO,2023-13-33,Score,12.0
230,COZY CORNER BAR & RESTAURANT,2023-13-33,Borough,QUEENS
231,COZY CORNER BAR & RESTAURANT,2023-13-33,Cuisine,American
232,COZY CORNER BAR & RESTAURANT,2023-13-33,Description,Food not protected from potential source of co...
233,COZY CORNER BAR & RESTAURANT,2023-13-33,Grade,A
234,COZY CORNER BAR & RESTAURANT,2023-13-33,Score,12.0
235,CIBO EXPRESS GOURMET MARKET (VAGABOND),2023-13-33,Borough,QUEENS
236,CIBO EXPRESS GOURMET MARKET (VAGABOND),2023-13-33,Cuisine,American
237,CIBO EXPRESS GOURMET MARKET (VAGABOND),2023-13-33,Description,Non-food contact surface improperly constructe...
238,CIBO EXPRESS GOURMET MARKET (VAGABOND),2023-13-33,Grade,A
239,CIBO EXPRESS GOURMET MARKET (VAGABOND),2023-13-33,Score,6.0
240,ON THE ROX LOUNGE & BAR,2023-13-33,Borough,QUEENS
241,ON THE ROX LOUNGE & BAR,2023-13-33,Cuisine,American
242,ON THE ROX LOUNGE & BAR,2023-13-33,Description,Food not protected from potential source of co...
243,ON THE ROX LOUNGE & BAR,2023-13-33,Grade,A
244,ON THE ROX LOUNGE & BAR,2023-13-33,Score,10.0
245,TOWERS CAFE,2023-13-33,Borough,BROOKLYN
246,TOWERS CAFE,2023-13-33,Cuisine,American
247,TOWERS CAFE,2023-13-33,Description,"Food contact surface not properly washed, rins..."
248,TOWERS CAFE,2023-13-33,Grade,A
249,TOWERS CAFE,2023-13-33,Score,12.0